<ion-header *ngIf="!loading" class="ion-no-border">
  <div class="header">
    <ion-toolbar class="ion-no-border">
      <ion-buttons slot="start" mode="md">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title mode="ios">{{'changePassword.ChangePassword' | translate}}</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content >
  <app-image-loader *ngIf="loading"></app-image-loader>
  <ion-header *ngIf="loading" class="ion-no-border">
    <div class="header">
      <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start" mode="md">
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">{{'changePassword.ChangePassword' | translate}}</ion-title>
      </ion-toolbar>
    </div>
  </ion-header>
  <!-- <div class="header"></div> -->
  <div class="ion-padding">
  <div class="icon">
    <ion-icon name="lock-closed"></ion-icon>
  </div>
  <ion-item button lines="full" mode="ios" detail="false">
    <!-- <ion-icon slot="start" name="mail-outline"></ion-icon> -->
    <ion-label position="floating">{{'changePassword.CurrentPassword' | translate}}</ion-label>
    <ion-input
      type="Password"
      placeholder="{{'changePassword.EnterYourOldPassword' | translate}}"
      [(ngModel)]="changePassword.oldPassword"
    ></ion-input>
  </ion-item>
  <ion-item button lines="full" mode="ios" detail="false">
    <!-- <ion-icon slot="start" name="mail-outline"></ion-icon> -->
    <ion-label position="floating"> {{'changePassword.NewPassword' | translate}}</ion-label>
    <ion-input
      type="Password"
      placeholder=" {{'changePassword.EnterYourNewPassword' | translate}}"
      [(ngModel)]="changePassword.newPassword"
    ></ion-input>
  </ion-item>
  <ion-item button lines="full" mode="ios" detail="false">
    <!-- <ion-icon slot="start" name="mail-outline"></ion-icon> -->
    <ion-label position="floating"> {{'changePassword.ConfirmPassword' | translate}}</ion-label>
    <ion-input
      type="Password"
      placeholder=" {{'changePassword.EnterYourConfirmPassword' | translate}}"
      [(ngModel)]="changePassword.confirmPassword"
    ></ion-input>
  </ion-item>
  <ion-button (click)="changePassBtn()" mode="md" expand="block" fill="solid">
    {{'changePassword.ChangePassword' | translate}}
  </ion-button>
</div>
</ion-content>
