<ion-content>
  <app-image-loader *ngIf="loading"></app-image-loader>
  <div class="header">
    <ion-toolbar>
      <ion-buttons >
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="type == 'email'">
          <h1> {{'forgotPassword.ForgotPassword' | translate}}</h1>
          <p>{{'forgotPassword.PleaseEnterYourEmailToContinue' | translate}}</p>
          <ion-item lines="full" mode="ios" detail="false">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label position="floating">{{'forgotPassword.Email' | translate}}</ion-label>
            <ion-input
              type="email"
              placeholder="{{'forgotPassword.EnterYourEmail' | translate}}"
              [(ngModel)]="forgotData.email"
            ></ion-input>
          </ion-item>
          <ion-button
            (click)="forgotPass()"
            expand="block"
            mode="md"
            fill="solid"
          >
          {{'forgotPassword.Continue' | translate}}
          </ion-button>
        </div>
        <div *ngIf="type ==  'verify'">
          <h1>{{'forgotPassword.Verification' | translate}}</h1>
          <p>{{'forgotPassword.VerificationCodeSendToYourEmail' | translate}} <br> ({{'forgotPassword.alsoCheckedYourSpamSection' | translate}})</p>
          <ion-item lines="full" mode="ios" detail="false">
            <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
            <ion-label position="floating">{{'forgotPassword.VerificationCode' | translate}}</ion-label>
            <ion-input
              type="tel"
              maxlength="6"
              placeholder="{{'forgotPassword.EnterTheCode' | translate}}"
              [(ngModel)]="forgotData.code"
            ></ion-input>
          </ion-item>
          <ion-button
            (click)="forgotPass()"
            expand="block"
            mode="md"
            fill="solid"
          >
          {{'forgotPassword.verify' | translate}}
          </ion-button>
        </div>
        <div *ngIf="type ==  'password'">
          <h1>{{'forgotPassword.ResetPassword' | translate}}</h1>
          <p>{{'forgotPassword.SetYourNewPassword' | translate}}</p>
          <ion-item lines="full" mode="ios" detail="false">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-label position="floating">{{'forgotPassword.NewPassword' | translate}}</ion-label>
            <ion-input
              type="password"
              placeholder="{{'forgotPassword.EnterYourPassword' | translate}}"
              [(ngModel)]="forgotData.password"
            ></ion-input>
          </ion-item>
          <ion-item lines="full" mode="ios" detail="false">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-label position="floating">{{'forgotPassword.ConfirmPassword' | translate}}</ion-label>
            <ion-input
              type="password"
              placeholder="{{'forgotPassword.EnterYourPassword' | translate}}"
              [(ngModel)]="forgotData.confirmPassword"
            ></ion-input>
          </ion-item>
          <ion-button
            (click)="forgotPass()"
            expand="block"
            mode="md"
            fill="solid"
          >
          {{'forgotPassword.ResetPassword' | translate}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
