<ion-header class="ion-no-border">
  <div class="header">
    <ion-item lines="none" color="transparent">
      <ion-buttons slot="start" color="light" mode="md" class="ion-no-margin">
        <ion-back-button
          defaultHref=""
          icon="chevron-back-outline"
        ></ion-back-button>
      </ion-buttons>
      <ion-label>
        <h1>{{'home.SelectYourFoodType' | translate}}</h1>
        <!-- <p>Welcome</p> -->
      </ion-label>
    </ion-item>
  </div>
</ion-header>
<ion-content>
  <ion-grid *ngIf="showSkeleton">
    <ion-row>
      <ion-col size="6" *ngFor="let item of foodType">
        <ion-card
          button
          mode="ios"
          class="ion-no-margin"
          routerLink="/restaurant/{{item?.id}}/restaurant/{{item?.type}}"
        >
          <h6 *ngIf="!isArabic() "> {{  item?.type}} </h6>
          <h6 *ngIf="isArabic()"> {{  item?.typeArabic}} </h6>
          <ion-img [src]="url + item.icon"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!showSkeleton">
    <ion-row>
      <ion-col size="6" *ngFor="let item of skeleton">
        <ion-card button mode="ios" class="ion-no-margin">
          <h6>
            <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
          </h6>
          <ion-thumbnail class="imgSkeleton">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-content>
  <section>
    <div class="custom-shape-divider-bottom-1636313747">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
  </section>
</ion-content> -->
