

<h4 class="font-weight-bold py-3 mb-4">
  <a (click)="back()"> <i class="fas fa-chevron-left"></i></a>
  <span class="text-muted font-weight-light"></span>
  {{ name == "update" ? "Edit" : "Create" }} an
  {{ type == "Restaurant" ? "Restaurant" : "Coffee Shop" }}
</h4>

<div class="card mb-4">
  <h6 class="card-header">
    {{ type == "Restaurant" ? "Restaurant" : "Coffee Shop" }}
  </h6>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="form-label"
          >{{ type == "Restaurant" ? "Restaurant" : "Coffee Shop" }} Name</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="Restaurant.title"
          name="title"
          placeholder="Enter a Name"
        />
      </div>
      <div class="form-group">
        <label class="form-label">Location</label>
        <input
          class="form-control"
          name="location"
          [(ngModel)]="Restaurant.location"
          placeholder="Enter your restaurant location"
          />
          <br>
          <div class="row">
            <div class="col-md-6 col-md-6 col-sm-12">
              <label class="form-label">latitude</label>
              <input
                class="form-control"
                name="latitude"
                [(ngModel)]="Restaurant.latitude"
                placeholder="Enter your restaurant latitude"
                />
            </div>
            <div class="col-md-6 col-md-6 col-sm-12">
              <label class="form-label">longitude</label>
              <input
                class="form-control"
                name="longitude"
                [(ngModel)]="Restaurant.longitude"
                placeholder="Enter your restaurant longitude"
                />
            </div>
            <br>
          </div>
          <!-- (onAddressChange)="handleAddressChange($event)" -->
          <!-- ngx-google-places-autocomplete
          [options]="optionsMAP"
          #placesRef="ngx-places" -->
      </div>
      <div class="form-group">
        <label class="form-label">Promotion Text</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="Restaurant.promotionalText"
          name="promotionalText"
          placeholder="Enter about your speciality"
        />
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label class="form-label">Opening Time</label>
              <ngb-timepicker
                [(ngModel)]="openTiming"
                name="openTiming"
                [secondStep]="30"
                [meridian]="true"
              ></ngb-timepicker>
            </div>
          </div>
          <div class="col-md-6 col-md-6 col-sm-12">
            <div class="form-group">
              <label class="form-label">Closing Time</label>
              <ngb-timepicker
                [(ngModel)]="closeTiming"
                name="closeTiming"
                [secondStep]="30"
                [meridian]="true"
              ></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Main Image</label>
        <div class="custom-file">
          <input
            type="file"
            name="mainLogo"
            class="custom-file-input"
            (change)="imagePicked($event)"
          />
          <label class="custom-file-label">
            {{
              Restaurant.mainLogo == ""
                ? type == 'Restaurant' ? 'Restaurant Main Logo' : 'Coffee Shop Main Logo' 
                : Restaurant.mainLogo
            }}
          </label>
        </div>
      </div>
      <div class="form-group" *ngIf="type == 'Restaurant'">
        <label class="form-label">Select Food type</label>
        <ng-select
          [items]="foodType"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="type"
          bindValue="id"
          placeholder="Select food type"
          [(ngModel)]="Restaurant.foodType"
          name="foodType"
          [hideSelected]="true"
          [disabled]="disabled"
        >
        </ng-select>
      </div>
      <!-- <div class="form-group">
        <label class="form-label"
          >Add
          {{
            type == "Restaurant" ? "Restaurant" : "Coffee Shop"
          }}
          Manger</label
        >
        <ng-select
          [items]="RestaurantManager"
          [multiple]="false"
          [closeOnSelect]="true"
          bindLabel="fullName"
          bindValue="id"
          placeholder="Select restaurant manger"
          [(ngModel)]="Restaurant.restaurantMangerId"
          name="restaurantMangerId"
          [hideSelected]="true"
          [disabled]="disabled"
        >
        </ng-select>
      </div> -->
      <div class="form-group">
        <label class="form-label">Seating Area</label>
        <ng-select
          [items]="seatArea"
          [multiple]="false"
          [closeOnSelect]="true"
          bindLabel="seats"
          bindValue="seats"
          placeholder="Select  {{
            type == 'Restaurant' ? 'Restaurant' : 'Coffee Shop'
          }}  manger"
          [(ngModel)]="Restaurant.seatingArea"
          name="seatingArea"
          [hideSelected]="true"
          [disabled]="disabled"
        >
        </ng-select>
      </div>

      <div class="form-group mt-3 mb-3">
        <input
          type="checkbox"
          placeholder="Enter the location"
          [(ngModel)]="Restaurant.isSpecialEventSupport"
          name="isSpecialEventSupport"
        />
        <label class="form-label">Special Event Supported</label>
      </div>
      <div class="form-group">
        <label class="form-label">Description</label>
        <textarea
          type="text"
          [(ngModel)]="Restaurant.description"
          name="description"
          class="form-control"
          placeholder="Enter a description"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-label">Terms & Condition</label>
        <textarea
          type="text"
          [(ngModel)]="Restaurant.policy"
          name="policy"
          class="form-control"
          placeholder="Enter your Policy"
        ></textarea>
      </div>

      <button
        type="submit"
        class="createBtn btn btn-success position-relative float-right"
        (click)="name == 'update' ? updateRestaurant() : createRestaurant()"
      >
        {{ name == "update" ? "Edit" : "Create" }}
      </button>
    </form>
  </div>
</div>
