ion-content {
  ion-grid {
    height: 90%;
    ion-row {
      height: 100%;
      ion-col {
        align-self: center;
        div {
          padding: 19px;
          ion-icon {
            margin: auto;
            padding: 27px;
            font-size: 180px;
            display: block;
            color: #ec3953;
            padding-bottom: 0px;
            animation: flip;
            animation-duration: 1s;
          }
        }
        .heading {
          h2 {
            font-weight: 600;
            text-align: center;
            margin: 5px;
          }
        }
      }
    }
  }
}

.continueBtn {
  height: 50px;
  --background: linear-gradient(44deg, #fa4d38, #e22b68);
  --border-radius: 14px;
}
.calenderBtn {
  ion-icon {
    margin-right: 13px;
    color: #ec3953;
    font-size: 23px;
  }
  height: 50px;
  --border-radius: 14px;
}
